*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU3fHxiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
    font-family: 'Otomanopee One', sans-serif;
    background-size: cover;
   background-repeat: no-repeat;
   overflow-x: hidden;
}

nav{
    font-size: large;
    
   
}
.containerlogo{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    animation-name: logo;
}
.logo{
    width: 150px;
    height: 100px;
}
.listnavbar{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
}

.listnavbar a{
    text-decoration: none;
    color: white;
    
}

.listnavbar a:hover{
    background-color:black;
    font-weight: bold;
}
.navbarandlogo{
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    

}
.navbarandlogo  nav, img{
    width: 30%;
   font-size: large;
 
}

#video{
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

 .shake{ 
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-top: 20px; 

}


.shake form{
    background-color:rgba(77, 73, 51, 0.13);
    border-radius: 30px;
    margin-bottom: 10px;
  
}
.shake p{
    width: 50%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

span{ font-size: xx-large;
    color: rgb(143, 130, 55);
    font-weight: bold;
    text-shadow: 2px 3px black;
}

.shake form , p , img{

    width: 90% ;
    height: 30%;
   direction: rtl;
   font-size: x x-large;
   padding: 10px;
   font-weight: bold;
} 
.shake img{
    width: 150px;
    height: 150px;
    
}

ul{
    width: 94vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(165, 151, 61);
    direction: rtl;
    padding: 25px;
    margin-bottom: 100px;


}
.foterlist{
    width: 33%;
    color: black;
    direction: rtl;
}

.foterlist button img{
    width: 30px;
    height: 30px;
    background-color: rgb(143, 130, 55);

}